.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

body {
    font-family: 'Georgia', serif;
}

.event-date {
    font-family: 'Lucida Handwriting', cursive;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 20px;
}

.event-title {
    font-weight: bold;
    font-size: 25px;
}

.event-time {
    font-size: 1.2rem;
}

.event a {
    text-decoration: none;
    font-weight: bold;
}

hr {
    margin: 40px 0;
}
